server:
   port: 8080


spring:
   jackson:
      default-property-inclusion: non_null

   datasource:
      url: jdbc:mysql://localhost:3306/mi_erp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
      password: admin